<mat-card class="main-card">
    <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>Lucas Oliveira</mat-card-title>
        <mat-card-subtitle>Angular App</mat-card-subtitle>
    </mat-card-header>
    <mat-card-title>About this application</mat-card-title>
    <mat-card-content>
        <p>
            Here you can find the source code for this application <br>
            Feel free to take a look, and play with it as much as you want. <br>
            Just Click the button below :)
        </p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="https://github.com/Lucas-Oliveira680/keep-in-mind" id="btn">Github</a>
    </mat-card-actions>
</mat-card>