.header {
    display: inline-block;
    width:100%;
    height: 50px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; 
}
h1 {
    float: left;
    position: relative;
    font-size: 22px;
    color: white;
    margin-left: 10px;
}
#logo {
    float: left;
    position: relative;
    /* top: 35px; */
    width: 40px;
    height:40px;
    margin: 10px;
}
ul {
    list-style-type: none;
    float: right;
    position: relative;
    top: -15%;
    margin: none;
    padding: none;
}
ul li{
    margin: 5px 15px 10px 0px;
    padding: 0px 10px 0px 10px;
    float: right;
    position: relative;
    right: 30%;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
ul li:hover {
    color: #fff;
    transition: 0.4s;
}
li a {
     text-decoration: none;
     display: block;
     width: 100%;
     height: 100%;
     margin: 0px;
}
.active {
    -webkit-text-decoration: #7159c1 double underline;
    text-decoration: #7159c1 double underline;
}