<ul class='notes'>
    <li>
        <div class="color-selector" *ngIf="colorChangeToggle">
            <ul class="colors">
                <li id="Yellow" (click)="onColorSelected('Yellow')"></li>
                <li id="Pink" (click)="onColorSelected('Pink')"></li>
                <li id="Blue" (click)="onColorSelected('Blue')"></li>
                <li id="Green" (click)="onColorSelected('Green')"></li>
            </ul>
        </div>
        <div class="note" [ngStyle]="{backgroundColor: note.color}">
            <div id="colorChange" (click)="onColorChange()"></div>
            <div id="noteRemove" (click)="onRemoveNote()">X</div>
            <input [(ngModel)]="note.title"
             placeholder="New Note"
             (ngModelChange)="onContentChange($event)">
            <hr>
            <textarea matInput cdkTextareaAutosize
             cdkAutosizeMinRows="8"
              cdkAutosizeMaxRows="8"
              [(ngModel)]="note.text"
              (ngModelChange)="onContentChange($event)"></textarea>
        </div>
    </li>
</ul>   